name: Generate GitHub Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate-snake:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Create dist directory
        run: mkdir -p dist

      - name: Generate snake animation
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: mohitpramanik
          outputs: |
            dist/github-snake-dark.svg

      - name: Deploy snake to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
          publish_branch: output
